body
{
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight:bold;
	color:aliceblue;
	font-size: large;
}
span
{
	font-size: 12px;
	color: rgb(255, 255, 255);
}
canvas
{
	background: rgb(35, 45, 36);
	border-radius: 20px;
}